.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.Settings {
  background-color:azure;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Info {
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Player-list {
  list-style: none;
}

.Game {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Board-size {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
}

/* Needs to adapt to size of board */
.Board {
  margin: 1em;
  background-color: #61dafb;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

/* Needs to adapt to size of board, color is for debugging only */
.Row {
  background-color:aquamarine;
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* Needs to adapt to size of row */
.Tile {
  background-color: azure;
  height: 90px;
  width: 90px;
  margin: 5px;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

p {
  color: #000;
}